/* SCSS file */

$purple: rgb(101,78,163);
$blue: rgba(2,145,209,1);
$pink: rgb(242,203,234);
$darkGrey: rgb(43,41,38);

@mixin lovelyGradientBg() {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin pinkBackground($opacity) {
    background-color: rgba(242,203,234, $opacity);
}

.icons {height: 150px; width: 150px;}

body, html {
	width: 100%;
	height: 100%;
	display: block;
}

body {
	font-family: 'Open Sans', sans-serif!important;
	position: relative;
}
a {
	text-decoration: none;
}
section, main {width: 100%; min-height: 1080px;}
main {
    height: calc(100vh + 50px);
	min-height: 1200px;
    .main-container {
        text-align: center;
        background-color: rgba($blue,0.65);
        min-height: 200px;
        padding: 120px;
        color: white;
        
        .social-container > li{
            display: inline-flex;
            margin: 10px;
            i {
                font-size: 30px;
            }
            a {color: white;}
        }

        h1 {
            font-size: 2em;
            line-height: 2em;
        }

        span.main-container--title {
            font-size: 5em;
            font-weight: 500;
            font-family: Monoton;
            text-transform: uppercase;
        }
        
        .social-container {
            li {
                a, i {transition: all 0.2s ease-in-out;}
                a:hover, i:hover {
                    color: $pink;
                }
            }
            margin: 40px 0;
            .fa-discord{position: relative; cursor:pointer;}
            .fa-discord::after {
                content:"Arekushia#2455";
                opacity: 0;
                background-color: #2B2926;
                color: white;
                padding: 10px 20px;
                font-size: 22px;
                font-family: Open Sans;
                font-weight: 300;
                position: absolute;
                left: 2em;
                border-radius: 4px; 
                transition: opacity 0.2s ease-in-out;
            }
            .fa-discord:hover::after {
                opacity: 0.8;
            }
        }
        
        .buttons {
            margin: 20px;
            a {
                color: white;
                font-size: 20px;
                padding: 10px 20px;
                border: 2px solid white;
                margin: 0 10px;
            }
            a:hover {
                background-color: $blue;
                text-decoration:none; 
            }
        }
    }
    
}
section {
    height: calc(100vh - 50px);
}
.section, div {
    h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 900;
        font-family: Maven Pro, sans-serif;
        letter-spacing: 2px;
        line-height: 65px;
    }
}


#home {
	background: url('../img/triangles.jpg') center / cover;
	background-blend-mode: darken;
    padding-top: 50px;
}
nav {
        position: fixed;
        top: 0;
        z-index: 9000;
        background-color: #2B2926;
        text-align: center;
        width: 100%;
        height: 50px;
    .nav {
        color: white;
        display: inline-flex;

        .nav-item {
            position: relative;
            .submenu {
                display: none;
            }
        }

        .nav-item:hover {
            position: relative;
            .submenu {
                background-color: #2B2926;
                position: absolute;
                top: 50px;
                width: inherit;
                display: block;
                .nav-link {
                    font-size: 14px;
                    font-family: 'Open Sans';
                    color: white;
                    padding: 1rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    opacity: 0.8;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }

        .nav-link {
            font-size: 14px;
            font-family: 'Open Sans';
            color: white;
            padding: 1.1rem;
            text-transform: uppercase;
            font-weight: 600;
            opacity: 0.8;
            transition: opacity 0.2s ease-in-out;
        }
        .nav-link:hover {
            opacity: 1;
        }
    }
}

#contact {
    background: url('../img/background.jpg') center / cover;
	background-blend-mode: darken;
    position: relative;
    
    color: white;
    
    .form {
        width: 50%;
        height: 100%;
        padding: 20px 50px;
        right: 0;
        position: absolute;
        background-color: rgba($purple, 0.888);
        
        form {
            input, input+label, select+label {
                display: block;
            }
            label {
                padding: 15px 0 5px 0;
                font-weight: 600;
                font-size: 18px;
            }
            input[type="text"], input[type="email"], textarea, select {
                min-width: 50%;
                min-height: 40px;
                border:none;
                margin: 10px 0;
                padding: 10px;
                border-radius: 3px;
                background-color: rgba(255,255,255,0.6);
                transition: all 0.2s ease-in-out;

                &:focus {
                    outline-color: $blue;
                    background-color: rgba(255,255,255,1);
                }
            }
            input[type="checkbox"] {
                height: 20px;
                width: 20px;
                border: none;
                border-radius: 3px;
            }
            
            textarea {
                width: 80%;
                height: 100px;
            }
            input[type="submit"] {
                border: 2px solid white;
                padding: 10px 20px;
                cursor: pointer;
                width: 20%;
                font-family: Open sans;
                text-transform: uppercase;
                color: white;
                font-weight: 600;
                margin: 20px 0 0 0;
                background-color: transparent;
            }
            input[type="submit"]:hover {
                
                background-color: $purple; 
            }
            
            .rgpd {
                @include pinkBackground(0.2);
                padding: 20px;
                width: 80%;
                margin: 20px 0 30px 0;
            }
        }
    }
    
    header.header-form {
        margin: 20px auto 10px auto;
        h2 {
            color: white;
            text-align: center;
        }
        h2+span {
            text-align: center;
            display: block;
        }
    }
}

#about {
    background-color: $darkGrey;
    min-height: 400px;
    height: auto;

    .content {
        padding: 2% 0 5% 0;
        h2,p  {
            color: white;
        }
    }
    
    
    .icons {
        margin: auto;
        display: block;
    }
    p {
        padding: 5px 0 10px 0;
        line-height: 2.2rem;
        font-size: 1.2rem;
        
        b {
            color: white;
            border-bottom: 2px dotted $blue;
            letter-spacing: 1px;
        }
        a {
            color: $blue;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            border-bottom: 2px dotted $blue;
        }
        a:hover {
            color: $pink;
        }
    }
    
    .arekAvatar {
        border-radius: 10rem;
        width: 300px;
        height: 300px;
    }   
}

#skills {
    padding: 3% 5%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;


    .container {
        background-color: rgba(255,255,255,1);
        border-radius: 3px;
        padding: 5%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
        position: relative;

        h2 {
            position: absolute;
            color: white;
            top: -7%;
            font-weight: 800;
            font-size: 75px;
            letter-spacing: 5px;
            left: 0;
        }
        
        

        p {
            font-size: 16px;
            line-height: 1.6rem;
        }
    
        .tags {
            display: flex;
            list-style: none;
            flex-flow: wrap;
            li {
                background-color: $purple;
                font-size: 14px;
                color: white;
                padding: 5px 10px;
                margin: 2px 5px 0 0;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 5px;
                flex-grow: 0;
                flex-basis: 50%;
                flex: 1 0 auto;
            }
        }
        .skill {
            min-height: 210px;
            height: 210px;
            margin-bottom: 5%;
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: #654ea3;
                text-transform: uppercase;
                font-family: Maven Pro;
                margin-bottom: 15px;
                line-height: 1.5rem;
                vertical-align:middle;
                display:inline-block;
            }
            p {
                vertical-align:middle;
                display:inline-block;
                line-height: 1.2;
            }
        }
    }
   
}



.content {
    padding: 2% 0 6% 0;
}


#portfolio {
// background: #654ea3;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
background-image: url(../img/racetrack.jpg);
background-size: cover;
z-index: 1;
min-height: 1200px;
    
    h2 {
        text-align: left;
        color: white;
        z-index: 10;

    }
    
    .content{
        background-color: rgba(0,0,0,0.9);
        height: 100%;
        width: 100%;

    }
}

#instagram{
    background-color: $darkGrey;
    max-height: 300px;
    min-height: 300px;
    height: 300px;

    .slick-slide img {
        height: 300px;
    }
}


@media screen and (max-width: 768px) {
    nav {display: none;}
    
    #contact {
        .form {width: 100%;
            form {
                select, input, textarea {width: 100%;}
            }
        }
    }
}

@media screen and (min-width: 768px) {
	// section, main {
	// 	height: 100vh;
	// }
}
