/* SCSS file */

$purple: #654EA3;
$blue: rgba(2,145,209,1);
$pink: rgb(242,203,234);


@mixin pinkBackground($opacity) {
    background-color: rgba(242,203,234, $opacity);
}

body {
	font-family: 'Open Sans', sans-serif!important;
}
a {
	text-decoration: none;
}
main {
    height: calc(100vh + 50px);
    .main-container {
        text-align: center;
        background-color: rgba(2,145,209,0.65);
        min-height: 200px;
        padding: 120px;
        color: #FFF;
        
        .social-container > li{
            display: inline-flex;
            margin: 10px;
            i {
                font-size: 30px;
            }
            a {color: white;}
        }

        h1 {
            font-size: 2em;
            line-height: 2em;
        }

        span.main-container--title {
            font-size: 5em;
            font-weight: 400;
            font-family: Monoton;
        }
        
        .social-container {
            li {
                a, i {transition: all 0.2s ease-in-out;}
                a:hover, i:hover {
                    color: $pink;
                }
            }
            margin: 40px 0;
            .fa-discord{position: relative; cursor:pointer;}
            .fa-discord::after {
                content:"Arekushia#2455";
                opacity: 0;
                background-color: #2B2926;
                color: white;
                padding: 10px 20px;
                font-size: 22px;
                font-family: Open Sans;
                font-weight: 300;
                position: absolute;
                left: 2em;
                border-radius: 4px; 
                transition: opacity 0.2s ease-in-out;
            }
            .fa-discord:hover::after {
                opacity: 0.8;
            }
        }
        
        .buttons {
            margin: 20px;
            a {
                color: white;
                font-size: 20px;
                padding: 10px 20px;
                border: 2px solid white;
                margin: 0 10px;
            }
            a:hover {
                background-color: $blue;
                text-decoration:none; 
            }
        }
    }
    
}
section {
    height: calc(100vh - 50px);
    h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: Passion One;
    }
}


#home {
	background: url('../img/triangles.jpg') center / cover;
	background-blend-mode: darken;
    padding-top: 50px;
}
nav {
        position: fixed;
        top: 0;
        z-index: 9000;
        background-color: #2B2926;
        text-align: center;
        width: 100%;
        height: 50px;
    .nav {
        color: white;
        display: inline-flex;
        .nav-link {
            font-size: 14px;
            font-family: 'Open Sans';
            color: white;
            padding: 1.1rem;
            text-transform: uppercase;
            font-weight: 600;
            opacity: 0.8;
            transition: opacity 0.2s ease-in-out;
        }
        .nav-link:hover {
            opacity: 1;
        }
    }
}

#contact {
    background: url('../img/background.jpg') center / cover;
	background-blend-mode: darken;
    position: relative;
    
    color: white;
    
    .form {
        width: 50%;
        height: 100%;
        padding: 20px 50px;
        right: 0;
        position: absolute;
        background-color: rgba(101,78,163, 0.888);
        
        form {
            input, input+label, select+label {
                display: block;
            }
            label {
                padding: 15px 0 5px 0;
                font-weight: 600;
                font-size: 18px;
            }
            
            select {
                
            }
            
            input[type="text"], input[type="email"], textarea, select {
                min-width: 50%;
                min-height: 40px;
                border:none;
                margin: 10px 0;
                padding: 10px;
                border-radius: 3px;
            }
            input[type="checkbox"] {
                height: 20px;
                width: 20px;
                border: none;
                border-radius: 3px;
            }
            
            textarea {
                width: 80%;
                height: 100px;
            }
            input[type="submit"] {
                border: 2px solid white;
                padding: 10px 20px;
                cursor: pointer;
                width: 20%;
                font-family: Open sans;
                text-transform: uppercase;
                color: white;
                font-weight: 600;
                margin: 20px 0 0 0;
                background-color: transparent;
            }
            input[type="submit"]:hover {
                
                background-color: $purple; 
            }
            
            .rgpd {
                @include pinkBackground(0.2);
                padding: 20px;
                width: 80%;
                margin: 20px 0 30px 0;
            }
        }
    }
    
    header.header-form {
        margin: 20px auto 10px auto;
        h2 {
            color: white;
            text-align: center;
        }
        h2+span {
            text-align: center;
            display: block;
        }
    }
}

#about {
    background-color: #2B2926;
    
    h2,p  {
        color: white;
    }
    
    p {
        padding: 5px 0 10px 0;
        line-height: 2.2rem;
        font-size: 1.2rem;
        
        b {
            color: white;
            border-bottom: 2px dotted $blue;
            border-bottom: 2px dotted $blue;
            letter-spacing: 1px;
        }
        a {
            color: $blue;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }
        a:hover {
            color: $pink;
        }
    }
    
    .arekAvatar {
        border-radius: 10rem;
        width: 300px;
        height: 300px;
    }
    
    

.projects {
    background-color: rgba(255,255,255,0.0255);
    padding: 10px ;
    h3 {
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    
    .fas {
        font-size: 4rem;
        color: white;
        text-align: center;
        display: block;
        margin: 20px;
        transition: color 0.4s ease-in-out;
    }
    .fas.fa-car:hover {
        color: #0189C9;
    }
    
    .fas.fa-camera-retro:hover {
        color: #6B1123;
    }
    
    .fas.fa-code:hover {
        color: #782637;
    }
    
    .fas.fa-pencil-alt:hover {
        color: $purple;
    }
    
    p {
        font-size: 16px;
        line-height: 1.6rem;
    }
}

    
}


.content {
    padding: 2% 0 6% 0 ;
}


#portfolio {
background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    h2 {
        text-align: center;
        color: white;
    }
    h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 10px 0;
    }
    
    .min > div {
        border: 2px solid white;
        height: 120px; 
        margin: 10px;
        display: inline-flex; 
    }
}

